@import "src/colors";

.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 35px;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  border-top: 1px solid $grayE4;
  border-bottom: 1px solid $grayE4;

  &::before {
    content: counter(section, decimal);
    counter-increment: section;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 100%;
    border:1px solid $grayC4;
    transform: translateY(-50%);
    text-align: center;
    vertical-align: middle;

  }
}

.menu {
  width: 20px;
  height: 20px;
}