$redDC: #dc3e22;
$redB7: #b7280f;
$pinkEA: #ea8979;
$pinkEE: #ee735d;
$greenA8: #a8b64f;
$green89: #899441;
$grayC4: #c4c4c4;
$grayF4: #f4f4f4;
$grayE5: #e5e5e5;
$gray99: #999;
$black: #333333;
$white: #fff;

